.Approved {
  color: rgb(1, 109, 1);
  background-color: rgb(199, 247, 199);
  border-radius: 3px;
  padding: 5px;
}

.Pending {
  color: red;
  background-color: rgb(253, 143, 143);
  border-radius: 3px;
  padding: 5px;
}
